

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i');

@mixin font {
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
}

@mixin font-italic {
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	font-style: italic;
}

@mixin font-bold {
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
}

@mixin font-bold-italic {
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
	font-style: italic;
}

